.nonogram_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-shrink: 0;
	height: 500px;
	justify-content: space-around;
	left: 80px;
	opacity: 1;
	position: relative;
	transform: rotate(45deg);
	transition: 0.6s ease;
	transition-delay: 0.6s;
	width: 500px;

	&.nonogram_container_hidden {
		height: 0;
		opacity: 0;
		width: 0;
	}
}