.nonogram_container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	height: 500px;
	left: 250px;
	opacity: 1;
	position: absolute;
	top: 250px;
	transform: rotate(45deg);
	transition: 0.6s;
	width: 500px;

	&.nonogram_character {
		grid-template-columns: auto auto auto auto auto auto auto auto auto;
		grid-template-rows: auto auto auto auto auto auto auto auto auto;
	}

	&.nonogram_preview{
    grid-gap: 3px;
		height: 50px;
    left: 50px;
    top: 50px;
		width: 50px;
	}

	&.nonogram_combat {
		grid-gap: 80px;
		
		// todo use transform
		height: 550px;
		width: 550px;
		left: 40%;
		top: 220px;
		&.nonogram_preview{
			grid-gap: 3px;
			height: 50px;
			left: 50px;
			top: 50px;
			width: 50px;
		}
	}

	&.nonogram_artifacts {
		//align-items: center;
		grid-gap: 6px;
		//justify-items: end;

		// todo use transform
		height: 550px;
		left: 55%;
		top: 220px;
		width: 550px;
		&.nonogram_preview{
			grid-gap: 3px;
			height: 50px;
			left: 50px;
			top: 50px;
			width: 50px;
		}
	}
}