@import '../../../utils/Palette.scss';

.attackResults {
	box-sizing: border-box;
	color: $white;
	position: relative;

	&.attackResults_str { background-color: $strength; }
	&.attackResults_fin { background-color: $finesse; }
	&.attackResults_per { background-color: $perception; }
	.attackResults_title_str { background-color: $strength; }
	.attackResults_defenseRoll_agi:after { background-color: $agility; }
	.attackResults_defenseRoll_wit:after { background-color: $wits; }

	.attackResults_attackRolls {
		display: flex;
		flex-direction: row;
	}

	.attackResults_defenseRoll,
	.attackResults_toHitRoll {
		padding: 6px;
		flex-basis: 50%;
		font-size: 12px;
		position: relative;
		z-index: 1;
	}

	.attackResults_defenseRoll:after {
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		-webkit-transform: skewX(-45deg);
		transform: skewX(-45deg);
		width: 125%;
		z-index: 0;
	}

	.attackResults_defenseRollDetail {
		padding: 0 0 0 12px;
		position: relative;
		z-index: 1;
	}

	.attackResults_detailStat {
		text-stroke: 1px;
		-webkit-text-stroke: 1px;
	}

	.attackResults_title {
		padding: 6px;
	}
}