@import "../../../utils/Palette.scss";

.locationMap_mapColumn {
	padding: 20px;
	flex: 1;

	&.physical { .worldMap_land { fill: $midGray; } .worldMap_ocean { fill: $nearWhite; }  }
	&.yau { .worldMapSvg {filter: blur(6px);} .worldMap_land { fill: $darkGray; } .worldMap_ocean { fill: $nearBlack; }  }
	&.simulation { .worldMap_land { fill: $intelligenceLight; } .worldMap_ocean { fill: $charismaLight; }  }

	.worldMapSvg {
		transition: filter 0.3s linear;
	}

	.worldMap_land, 
	.worldMap_ocean {
		transition: fill 0.3s linear;
	}

	.locationMap_mapContainer {
		position: relative;
	}
	
	.locationMap_locationContainer {
		position: absolute;
		z-index: 3;
	}

	.locationMap_regionContainer {
		pointer-events: none;
		.svgRoom { pointer-events: none; }
		.svgRoom path { pointer-events: none; opacity: 0.1;}
		&.locationMap_adjacentLocation .svgRoom path {
			cursor: pointer;
			opacity: 0.4;
			pointer-events: fill;
			&:hover {opacity: 1;}
		}
		&.locationMap_currentLocation .svgRoom path {
			cursor: pointer;
			opacity: 0.8;
			pointer-events: fill;
			&:hover {opacity: 1;}
		}
	}

	.locationMap_mapPoint {
		background: $nearBlack;
		border: 3px solid $white;
		cursor: pointer;
		height: 6px;
		transform: rotate(45deg);
		width: 6px;
		transition: box-shadow 0.2s ease, transform 0.2s ease;
		&:hover { box-shadow: 0 0 6px 3px $black; transform: scale(2) rotate(45deg); }
		&:active { box-shadow: 0 0 1px 1px $black; border: 2px solid $white; margin: 1px; }
	}
}
