.objectLayer {
	.objectLayer_character {
		transition: 0.6s;
	}

	.objectLayer_nameText {
		font-size: 2.5px;
		fill: #fff;
		fill-opacity: 0.7;
		user-select: none;
	}
}

.objectLayer_cpuCharacter.objectLayer_isSelected {
	.mapCharacter {
		animation: rumble 0.1s infinite linear;
	}
}


.mapCharacter-highlight {
	transition-delay: 0.6s;
	stroke-width: 30px;
	stroke-opacity: 0;
}

.objectLayer_isSelected {
	.mapCharacter-highlight {
		fill: #369;
		stroke: #369;
		stroke-opacity: 1;
		stroke-width: 30px;
	}
}


@keyframes rumble {
	0% {transform: rotate(0deg);}
	25% {transform: translate(1px, 0px) rotate(-0.5deg);}
	50% {transform: translate(0px, -1px) rotate(0deg);}
	75% {transform: translate(-1px, 0px) rotate(0.5deg);}
	100% {transform: translate(0px, 1px) rotate(0deg);}
}