@import '../../../utils/Palette.scss';

.statusTrack {
	background: $lightGray;
	height: 9px;
	margin: 0 0 3px 0;
	overflow: hidden;
	width: 100%;

	&.statusTrack_halfTrack { width: 45%; }

	&.statusTrack_strength:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $strengthDark; }
		.statusTrack_currentBar { background: $strength; }
	}
	&.statusTrack_finesse:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $finesseDark; }
		.statusTrack_currentBar { background: $finesse; }
	}
	&.statusTrack_perception:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $perceptionDark; }
		.statusTrack_currentBar { background: $perception; }
	}
	&.statusTrack_stamina:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $staminaDark; }
		.statusTrack_currentBar { background: $stamina; }
	}
	&.statusTrack_agility:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $agilityDark; }
		.statusTrack_currentBar { background: $agility; }
	}
	&.statusTrack_wits:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $witsDark; }
		.statusTrack_currentBar { background: $wits; }
	}
	&.statusTrack_willpower:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $willpowerDark; }
		.statusTrack_currentBar { background: $willpower; }
	}
	&.statusTrack_intelligence:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $intelligenceDark; }
		.statusTrack_currentBar { background: $intelligence; }
	}
	&.statusTrack_charisma:not(.statusTrack_malus) {
		.statusTrack_costBar { background: $charismaDark; }
		.statusTrack_currentBar { background: $charisma; }
	}
	&.statusTrack_malus {
		.statusTrack_costBar { background: $black; }
		.statusTrack_currentBar { background: $malusRed; }
	}

	.statusTrack_currentBar {
		background: $nearBlack;
		height: 100%;
		position: relative;
		transform: skewX(-45deg);
		transition: 0.3s ease;
	}

	.statusTrack_costBar {
		animation: opacityPulse 0.6s infinite linear;
		background: $black;
		height: 100%;
		position: absolute;
		right: 0;
		transition: 0.3s ease;
	}

	.statusTrack_costValue {
		left: 40%;
	}

	.statusTrack_costValue,
	.statusTrack_currentValue {
		color: $white;
		font-size: 9px;
		position: absolute;
		transform: skewX(45deg);
	}

	.statusTrack_innerBar {
		display: flex;
		height: 100%;
		transform: scaleX(1.1);
		width: 100%;
	}
}

@keyframes opacityPulse {
	50% { background: $nearBlack;}
}