@import '../../../utils/Palette.scss';

.actionList {
	.actionItem {
		background: $white;
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 42px;
		margin: 6px;
		overflow: hidden;
		position: relative;
		z-index: 3;

		&:hover {
			box-shadow: 0 0 3px $black;
		}

		.actionItem_actionDesc {
			color: $darkGray;
			flex: 0 0 100%;
			font-size: 9px;
		}

		.actionItem_actionLabel {
			box-sizing: border-box;
			display: flex;
			flex: 0 0 100%;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 6px;
		}

		.actionItem_speedCost {
			color: $malusRed;
			text-stroke: 1px;
			-webkit-text-stroke: 1px;
		}
	}

	.actionItem_attackLabel,
	.actionItem_defenseLabel {
		box-sizing: border-box;
		color: $white;
		flex: 0 0 50%;
		min-height: 30px;
		padding: 6px;

		&.actionItem_attackLabel_str { background-color: $strength; }
		&.actionItem_attackLabel_fin { background-color: $finesse; }
		&.actionItem_attackLabel_per { background-color: $perception; }
		
		&.actionItem_defenseLabel_agi { background-color: $agility; }
		&.actionItem_defenseLabel_wit { background-color: $wits; }

		.actionItem_attackDesc,
		.actionItem_defenseDesc {
			font-size: 12px;
			&:first-child {
				margin: 0 0 6px 0;
			}
		}
	}
}