@import '../../../utils/Palette.scss';

.actionList {
	.actionList_actionItem {
		background: $white;
		box-sizing: border-box;
		cursor: pointer;
		min-height: 42px;
		margin: 6px;
		padding: 6px;
		position: relative;
		z-index: 3;

		&:hover {
			box-shadow: 0 0 3px $black;
		}
	}

	.actionList_actionDesc {
		font-size: 9px;
		color: $darkGray;
	}
}