@import '../../../../utils/Palette.scss';

.StylesScreen {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	width: 100%;

	.StylesScreen_AlertText {
		color: $malusRed;
	}

	.StylesScreen_BasicText {
		color: $darkGray;
		font-size: 12px;
	}

	.StylesScreen_HeaderDetail {
		font-size: 24px;
	}

	.StylesScreen_HeaderText {
		color: $nearBlack;
		font-size: 24px;
	}

	.StylesScreen_ListColumn {
		box-sizing: border-box;
		height: 100%;
		margin: 0 30px 0 750px;
		overflow-y: auto;
		width: 100%;
		mask-image: linear-gradient(to bottom, $nearWhite 98%, transparent 100%);
	}

	.StylesScreen_Row {
		background: $midGray;
		color: $white;
		display: flex;
		justify-content: space-between;
		margin: 0 0 6px 0;
		padding: 9px;
		&.StylesScreen_HeaderRow {
			background: none;
			padding: 0;
		}
	}

	.StylesScreen_Section {
		margin: 0 0 36px 0;
	}

	.StylesScreen_FloatingStyles {
		animation: fadeIn 0.4s 1 linear;
		animation-delay: 0.4s;
		animation-fill-mode: both;
	}

	.StylesScreen_StyleClasses{
		animation: fadeIn 0.4s 1 linear;
		animation-delay: 0.6s;
		animation-fill-mode: both;
	}
}