@import '../../../../utils/Palette.scss';

.StylesScreen {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	width: 100%;

	.fill_Strength { background-color: $strength; .fill_light { background-color: $strengthLight;} .fill_dark { background-color: $strengthDark;} }
	.fill_Finesse { background-color: $finesse; .fill_light { background-color: $finesseLight;} .fill_dark { background-color: $finesseDark;} }
	.fill_Perception { background-color: $perception; .fill_light { background-color: $perceptionLight;} .fill_dark { background-color: $perceptionDark;} }
	.fill_Stamina { background-color: $stamina; .fill_light { background-color: $staminaLight;} .fill_dark { background-color: $staminaDark;} }
	.fill_Agility { background-color: $agility; .fill_light { background-color: $agilityLight;} .fill_dark { background-color: $agilityDark;} }
	.fill_Wits { background-color: $wits; .fill_light { background-color: $witsLight;} .fill_dark { background-color: $witsDark;} }
	.fill_Willpower { background-color: $willpower; .fill_light { background-color: $willpowerLight;} .fill_dark { background-color: $willpowerDark;} }
	.fill_Intelligence { background-color: $intelligence; .fill_light { background-color: $intelligenceLight;} .fill_dark { background-color: $intelligenceDark;} }
	.fill_Charisma { background-color: $charisma; .fill_light { background-color: $charismaLight;} .fill_dark { background-color: $charismaDark;} }

	.StylesScreen_AlertText {
		color: $malusRed;
	}

	.StylesScreen_BasicText {
		color: $darkGray;
		font-size: 12px;
	}

	.StylesScreen_HeaderDetail {
		font-size: 24px;
	}

	.StylesScreen_HeaderText {
		color: $nearBlack;
		font-size: 24px;
	}

	.StylesScreen_ListColumn {
		box-sizing: border-box;
		height: 100%;
		margin: 0 30px 0 750px;
		overflow-y: auto;
		width: 100%;
	}

	.StylesScreen_Row {
		background: $midGray;
		color: $white;
		display: flex;
		justify-content: space-between;
		margin: 0 0 6px 0;
		padding: 9px;
		&.StylesScreen_HeaderRow {
			background: none;
			padding: 0;
		}
	}

	.StylesScreen_Section {
		margin: 0 0 36px 0;
	}
}