@import '../../utils/Palette.scss';

.projectsScreen {
	align-items: center;
	background: $nearWhite;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 24px;
	width: 100%;

	.projectsScreen_characterList {
		display: flex;
		flex: 1;
		justify-content: space-around;
		overflow: hidden;
		width: 100%;
	}

	.projectsScreen_characterColumn {
		flex: 1;
		margin: 0 1%;
		mask-image: linear-gradient(to bottom, $nearWhite 95%, transparent 100%);
		overflow: scroll;
	}

	.projectsScreen_characterName {
		background: $nearWhite;
		font-size: 22px;
		margin: 0 auto;
		padding: 6px;
		position: sticky;
		text-align: center;
		top: 0;
		z-index: 2;
	}

	.projectsScreen_charRow {
		align-items: center;
		background: $nearWhite;
		display: flex;
		flex-wrap: wrap;
		font-size: 14px;
		justify-content: space-between;
		padding: 6px;
		&.header{
			font-size: 18px;
			position: sticky;
			top: 36px;
		}
		&.lightText {
			color: $white;
		}

		.statusTrack {
			flex: 1;
		}
	}

	.projectsScreen_charSection {
		margin: 0 0 12px 0;
	}

	.projectsScreen_dayCount {
		font-size: 14px;
	}

	.projectsScreen_description {
		font-size: 12px;
		width: 100%;
	}

	.projectsScreen_portrait {
		max-width: 250px;
		margin: 0 auto;
	}

	.projectsScreen_statusRow {
		align-items: center;
		display: flex;
		width: 100%;
	}

	.projectsScreen_subHeader {
		width: 100%;
	}

	.projectsScreen_summary {
		margin: 0 0 12px 0;
	}

	.projectsScreen_title {
		height: 120px;
		margin: 20px 0 0 0;
	}


	.projectsScreen_titleWord {
		color: $nearBlack;
		display: inline-block;
		font-size: 40px;
		padding: 20px;
		transform: skewY(-9deg);
	}
}