.hexTile {
	&.hexTile_blocked polygon {
		fill-opacity: 0.1;
	}

	&.hexTile_occupied polygon {
		fill-opacity: 0;
	}

	&.hexTile_selected {
		polygon {
			fill: #fff;
			fill-opacity: 1;
			stroke: #369;
			stroke-width: 1;
		}
		&.hexTile_cpuControlled {
			polygon {
				stroke: #c32;
			}
		}
	}

	&.hexTile_inRange {
		polygon {
			cursor: pointer;
			fill-opacity: 0.8;
		}
		&:hover polygon {
			fill: #7be3f6;
		}
	}

	polygon {
		fill: #fff;
		fill-opacity: 0.1;
		transition: opacity .3s ease;
		transition-delay: opacity .6s;
	}
}

