@import '../../../utils/Palette.scss';

.hexTile {
	&.hexTile_blocked polygon {
		fill-opacity: 0.1;
	}

	&.hexTile_occupied polygon {
		fill-opacity: 0;
	}

	&.hexTile_selected {
		polygon {
			cursor: pointer;
			fill: $white;
			fill-opacity: 1;
			stroke: $allyBlue;
			stroke-width: 0.75;
			stroke-opacity: 1;
		}
		&.hexTile_hostile {
			polygon {
				stroke: $malusRed;
			}
		}
	}

	&.hexTile_clickable {
		&:hover {
			polygon {
				fill: $white;
				fill-opacity: 0.9;
			}
		}
		polygon {
			cursor: pointer;
			fill-opacity: 0.5;
		}

		&.hexTile_inHostileRange {
			&:hover {
				polygon {
					fill: $malusRed;
					fill-opacity: 0.9;
				}
			}
			polygon {
				fill: $malusRed;
				fill-opacity: 0.5;
			}
		}
	}

	polygon {
		fill: $white;
		fill-opacity: 0.1;
		stroke: $white;
		stroke-opacity: 0;
		stroke-width: 0.3px;
		transition: opacity .3s ease;
		transition-delay: opacity .6s;
	}
}

