@import '../../../utils/Palette.scss';

.AttributesScreen {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	width: 100%;

	.AttributesScreen_ListColumn{
    width: 100%;
    height: 90%;
    margin: 0 30px 0 200px;
    box-sizing: border-box;
	}
}