@import '../../../utils/Palette.scss';

.CharacterMenuTabs {
	background: $midGray;
	box-shadow: inset 0 0 6px 0 $black;
	box-sizing: border-box;
	height: 102%;
	padding: 150px 0 0 0;
	position: absolute;
	top: 0;
	left: -6px;
	width: 150px;
	z-index: 0;

	.CharacterMenuTabs_tab {
		align-items: center;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		height: 150px;
		justify-content: center;
		position: relative;

		&:hover {
			&:before {
				content: "";
				box-shadow: inset 0 0 6px $black;
				height: 100%;
				position: absolute;
				transform: skewY(-9deg);
				width: 100%;
			}
		}

		&.CharacterMenuTabs_currentTab {
			cursor: default;
			&:before {
				background: $nearWhite;
				content: "";
				height: 100%;
				position: absolute;
				transform: skewY(-9deg);
				width: 100%;
				z-index: 0;
			}
			&:hover {
				&:before {
					box-shadow: none;
				}
			}
		}
	}

	.CharacterMenuTabs_tabText {
		z-index: 1;
	}

	.withMargin {
		margin: 90px 0 0 0;
	}

	.mapCharacter {
		height: 100px;
		z-index: 9;
	}
}