@import '../../../../utils/Palette.scss';

.ArtifactsScreen {
	box-sizing: border-box;
	height: 100%;
	width: 100%;

	.ArtifactsScreen_Header {
		display: block;
		font-size: 20px;
	}

	.ArtifactsScreen_Text{
		display: block;
		color: $nearBlack;
	}
}