@import '../../../../utils/Palette.scss';

.CharacterScreen {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	width: 100%;

	.CharacterScreen_portrait {
		animation: fadeIn 0.4s 1 linear;
		animation-delay: 0.7s;
		animation-fill-mode: both;
		display: block;
		margin: 0 auto;
		width: 90%;
	}

	.CharacterScreen_rightColumn {
		display: inline-block;
		height: 100%;
		width: 33%;
	}
	
	.CharacterScreen_skillsSection {
		animation: fadeIn 0.4s 1 linear;
		animation-delay: 0.3s;
		animation-fill-mode: both;
		height: 100%;
		margin: 0 1% 0 0;
		width: 66%;
	}

	.CharacterScreen_statusSection {
		animation: fadeIn 0.4s 1 linear;
		animation-delay: 0.5s;
		animation-fill-mode: both;
	}

	.CharacterScreen_statusRowSection {
		margin: 15px 0 0 0;
	}

}