@import '../../../../utils/Palette.scss';

.attributeSquare {
	align-items: flex-end;
	background: $lightGray;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	opacity: 1;
	position: absolute;
	transition: all 0.6s, box-shadow 0.2s;
	height: 30%;
	width: 30%;
	&:hover {
		box-shadow: 0 0 6px 3px $black;
	}
	&:active {
		box-shadow: 0 0 1px 1px $black;
	}

	&.attributeSquare_hidden {
		opacity: 0;
	}

	&.attributeSquare_majorArtifact {
		background: $intelligenceDark;
	}

	&.attributeSquare_minorArtifact {
		height: 50%;
		width: 50%;
		background: $intelligenceLight;
	}

	&.attributeSquare_preview {
		&:hover,
		&:active {
			box-shadow: none;
		}
	}

	.attributeSquare_label {
		align-self: center;
		color: $white;
		left: -18%;
		position: relative;
		top: -10%;
		transform: rotate(-45deg);
	}

	.attributeSquare_dotTrack {
		align-content: space-between;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 50%;
		justify-content: space-between;
		left: -6%;
		padding: 2px;
		position: relative;
		top: -6%;
		width: 50%;
	}

	.attributeSquare_dot {
		background: $white;
		border: 3px solid $white;
		border-radius: 50%;
		box-sizing: border-box;
		height: 26%;
		width: 26%;
		&.attributeSquare_dot_filled {
			background: $nearBlack;
		}
	}

	&.attributeSquare_str { background: $strength;}
	&.attributeSquare_fin { background: $finesse;}
	&.attributeSquare_per { background: $perception;}
	&.attributeSquare_stm { background: $stamina;}
	&.attributeSquare_agi { background: $agility;}
	&.attributeSquare_wit { background: $wits;}
	&.attributeSquare_wil { background: $willpower;}
	&.attributeSquare_int { background: $intelligence;}
	&.attributeSquare_cha { background: $charisma;}
}
