@import '../../../utils/Palette.scss';

.MenuTrace {
	box-sizing: border-box;
	position: absolute;
	z-index: 0;
	
	.MenuTrace_segment {
		background: $lightGray;
		box-sizing: border-box;
		height: 20px;
		position: absolute;
		z-index: 0;

		&.diagonalDown {
			animation: growDownRight 1 linear;
			animation-fill-mode: both;
			transform-origin: top left;
		}
		&.diagonalUp {
			animation: growUpRight 1 linear;
			animation-fill-mode: both;
			transform-origin: bottom left;
		}
		&.diagonalDownRTL {
			animation: growUpRight 1 linear;
			animation-fill-mode: both;
			transform-origin: top right;
		}
		&.diagonalUpRTL {
			animation: growDownRight 1 linear;
			animation-fill-mode: both;
			transform-origin: bottom right;
		}
		&.horizontal {
			animation: growRight 1 linear;
			animation-fill-mode: both;
			transform-origin: left;
		}
		&.horizontalRTL {
			animation: growRight 1 linear;
			animation-fill-mode: both;
			transform-origin: right;
		}
		&.vertical {
			transform: rotate(90deg);
			transform-origin: top left;
		}
	}

	.fill_faded {
		background: $fadedGray;
	}
}

@keyframes growRight {
	0% {transform: scaleX(0);}
	100% {transform: scaleX(1);}
}
@keyframes growUpRight {
	0% {transform: scale(0) rotate(-45deg);}
	100% {transform: scale(1) rotate(-45deg);}
}
@keyframes growDownRight {
	0% {transform: scale(0) rotate(45deg);}
	100% {transform: scale(1) rotate(45deg);}
}