@import '../../../utils/Palette.scss';

.MenuTrace {
	box-sizing: border-box;
	position: absolute;

	.MenuTrace_segment {
		background: #ddd;
		border-top: 20px solid #aaa;
		border-right: 20px solid #0000;
		border-left: 20px solid #0000;
		box-sizing: border-box;
		height: 20px;

		&.diagonalDown {
			transform: rotate(45deg);
		}
		&.diagonalUp {
			transform: rotate(-45deg);
		}
	}
}