// Neutrals
$white: #FFFFFF;
$nearWhite: #EEEEEE;
$fadedGray: #E9E9E9;
$lightGray: #CCCCCC;
$midGray: #AAAAAA;
$darkGray: #666666;
$nearBlack: #333333;
$black: #000000;

// Transparents
$fullTrans: #00000000;
$nearWhiteTrans: #00000033;
$lightGrayTrans: #00000066;
$midGrayTrans: #000000AA;
$darkGrayTrans: #000000CC;
$nearBlackTrans: #000000EE;

// Accents
$bonusGreen: #00CC22;
$malusRed: #CC0000;
$halfwayPurple: #80334D;
$allyBlue: #336699;

// Attributes
$strength: #A3042A;
$finesse: #CE6700;
$perception: #601D62;
$stamina: #30394C;
$agility: #B59718;
$wits: #1E9062;
$willpower: #2D1182;
$intelligence: #377C21;
$charisma: #025EB2;

// Shaded Attributes
$strengthDark: #700F27;
$finesseDark: #8A490D;
$perceptionDark: #471E48;
$staminaDark: #292F3A;
$agilityDark: #7A651A;
$witsDark: #206347;
$willpowerDark: #2E0F71;
$intelligenceDark: #2F5721;
$charismaDark: #0F4578;

// Tinted Attributes
$strengthLight: #BF506C;
$finesseLight: #DD954D;
$perceptionLight: #8F6191;
$staminaLight: #666E7D;
$agilityLight: #CBB55E;
$witsLight: #62B291;
$willpowerLight: #7350C4;
$intelligenceLight: #74A464;
$charismaLight: #4E90C9;

// font sizes
$h1: 24px;
$h2: 22px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$p: 12px;
$small: 10px;