@import './utils/Palette.scss';

body, html, #root {
	font-family: "burlingame", sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
	user-select: none;
	width: 100%;
}

.app_debugMenu {
	position: absolute;
	right: 6px;
	top: 6px;
	display: flex;
	&.exploration,
	&.projects {
		bottom: 6px;
		top: auto;
	}
}

//global styles
.strong {
	-webkit-text-stroke: 1px;
	text-stroke: 1px;
}

.basicButton {
	background: $nearWhite;
	border-radius: 3px;
	box-shadow: 0 0 6px $black;
	color: $nearBlack;
	cursor: pointer;
	display: inline;
	font-size: 14px;
	margin: 6px;
	padding: 6px;
	&:hover { background: $white; box-shadow: 0 0 6px 3px $black; color: $black; }
	&:active { box-shadow: 0 0 1px 1px $black; }
	&.dark {
		box-shadow: 0 0 6px $white;
		background: $nearBlack;
		color: $nearWhite;
		&:hover { background: $black; box-shadow: 0 0 6px 3px $white; color: $white; }
		&:active { box-shadow: 0 0 1px 1px $white; }
	}
	&.small { 
		font-size: 9px;
		margin: 3px;
		padding: 3px;
	}
}

.basicText {
	color: $darkGray;
	font-size: 12px;
}

.headerText {
	color: $nearBlack;
	font-size: 24px;
}

#root {
	.fill_Strength { 
		background-color: $strength; &.fill_light,.fill_light { background-color: $strengthLight;} .fill_dark { background-color: $strengthDark;} }
	.fill_Finesse { background-color: $finesse; &.fill_light,.fill_light { background-color: $finesseLight;} .fill_dark { background-color: $finesseDark;} }
	.fill_Perception { background-color: $perception; &.fill_light,.fill_light { background-color: $perceptionLight;} .fill_dark { background-color: $perceptionDark;} }
	.fill_Stamina { background-color: $stamina; &.fill_light,.fill_light { background-color: $staminaLight;} .fill_dark { background-color: $staminaDark;} }
	.fill_Agility { background-color: $agility; &.fill_light,.fill_light { background-color: $agilityLight;} .fill_dark { background-color: $agilityDark;} }
	.fill_Wits { background-color: $wits; &.fill_light,.fill_light { background-color: $witsLight;} .fill_dark { background-color: $witsDark;} }
	.fill_Willpower { background-color: $willpower; &.fill_light,.fill_light { background-color: $willpowerLight;} .fill_dark { background-color: $willpowerDark;} }
	.fill_Intelligence { background-color: $intelligence; &.fill_light,.fill_light { background-color: $intelligenceLight;} .fill_dark { background-color: $intelligenceDark;} }
	.fill_Charisma { background-color: $charisma; &.fill_light,.fill_light { background-color: $charismaLight;} .fill_dark { background-color: $charismaDark;} }
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}