@import '../../../utils/Palette.scss';

.CharacterSelectBar {
	background: $nearBlack;
	box-shadow: inset 0 -3px 6px 3px $black;
	height: 150px;
	left: -9px;
	opacity: 0;
	position: absolute;
	top: -80px;
	transform: skewY(-9deg);
	width: 900px;
	z-index: 1;
}

.characterMenu-enter-done .CharacterSelectBar {
	opacity: 1;
}