@import '../../utils/Palette.scss';

.characterMenu {
	background: $nearWhite;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 120px 21px 21px 180px;
	position: fixed;
	transition: 0.5s;
	top: 0;
	transform: scaleY(0);
	transform-origin: bottom;
	width: 100%;
	z-index: 2;

	&.characterMenu-enter-done {
		opacity: 1;
		transform: scaleY(1);
	}

	.characterMenu_body {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
	}

	.characterMenu_closeButton {
		align-items: center;
		background: $white;
		border-radius: 6px;
		box-shadow: 0 0 6px $black;
		cursor: pointer;
		display: flex;
		font-size: 22px;
		height: 30px;
		justify-content: center;
		position: absolute;
		right: 12px;
		top: 12px;
		width: 30px;
		z-index: 2;
		&:hover {
			box-shadow: 0 0 6px 3px $black;
		}
		&:active {
			box-shadow: 0 0 1px 1px $black;
		}
	}
}